.contact-form-section {
    width: 35%;
    padding: 2.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    background: #ffffff;
    border-radius: 15px;
}

.contact-input-box {
    margin: 1rem 0;
}

.contact-input-box h3 {
    text-transform: capitalize;
    font-family: "Urbanist", sans-serif;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    letter-spacing: 1px;
}

.contact-input-box input,
.contact-input-box textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid hsl(225, 10%, 45%);
    border-radius: 8px;
    font-family: "Urbanist", sans-serif;
    outline: none;
}

textarea {
    resize: none;
    height: 120px;
}


/* Scrollbar style */

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-track {
    background: #f0f0f0;
}

textarea::-webkit-scrollbar-thumb {
    background: #8aa9b8;
    border-radius: 10px;
}


/* SUBMIT BUTTON */

.contact-submit-btn {
    margin-top: 1rem;
    background-color: #92e3a9;
    font-weight: 700;
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.9rem;
    width: 100%;
}

.contact-submit-btn:hover {
    background-color: #37474f;
    color: white;
    transition: 0.2s ease;
}


/* ===================== RESPONSIVE MEDIA QUERIES ===================== */


/* Tablet (991px ↓) */

@media (max-width: 991px) {
    .contact-form-section {
        width: 60%;
        padding: 2rem;
    }
}


/* Mobile (600px ↓) */

@media (max-width: 600px) {
    .contact-form-section {
        width: 85%;
        padding: 1.6rem;
    }
    .contact-input-box h3 {
        font-size: 0.95rem;
    }
    .contact-input-box {
        width: 90%;
    }
    .contact-submit-btn {
        font-size: 1rem;
        padding: 0.8rem;
    }
}