.booking-wrapper {
    padding: 3rem 2rem;
    background: linear-gradient(135deg, #d8f8ff, #fff);
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}

.booking-header {
    text-align: center;
    margin-bottom: 2rem;
}

.booking-header h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #05445e;
}

.booking-header p {
    font-size: 1.1rem;
    letter-spacing: .5px;
    margin: .4rem 0;
}

.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.booking-image-box {
    width: 45%;
}

.booking-illustration {
    width: 100%;
}

@media(max-width: 700px) {
    .booking-container {
        flex-direction: column;
    }
    .booking-image-box {
        width: 80%;
    }
}