.contact-section {
    margin: 2rem 0;
}

.contact-section h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.contact-image-wrapper {
    width: 40%;
}

.contact-row .contact-box {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 30%;
    padding: 1rem;
}

.contact-row .contact-box h2 {
    text-align: left;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
}

.contact-container {
    min-height: 100vh;
    height: auto;
}

.contact-row .contact-box p {
    color: #0f0f0f;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 1px;
    margin: 1rem 0;
    font-size: 1rem;
}

.contact-button {
    margin: 0.5rem 0;
    background-color: #92e3a9;
    font-family: "Urbanist", sans-serif;
    font-weight: 800;
    -webkit-appearance: none;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 1rem;
    -moz-appearance: none;
}

.contact-button:hover {
    background-color: #37474f;
    color: #fff;
    transition: 0.3s ease;
}

.contact-image {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .contact-row {
        flex-direction: column;
    }
    .contact-image-wrapper {
        width: 100%;
    }
    .contact-row .contact-box {
        width: 55%;
    }
    .contact-row .contact-box h2 {
        font-size: 1.5rem;
    }
    .contact-button {
        width: 100%;
    }
}